<div class="container-fluid">
    <div class="row">
        <div class="col-6 admin">
            <div class="card admin-card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title admin-card-title">Go to Products-Admin page</h5>
                    <a routerLink="/admin/products" class="btn btn-primary btn-block">Go</a>
                </div>
            </div>
        </div>
        <div class="col-6 admin">
            <div class="card admin-card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title block admin-card-title">Go to Order-Admin page</h5>
                    <a routerLink="/admin/order" class="btn btn-primary btn-block">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>